body{
	background-image: url(register.jpg);
	height: 200vh; width: 190vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; }

.signup{
	width: 360px;
	margin-left: auto;
margin-right: auto;  }

.form{
	position: relative; max-width: 360px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10%;
	 text-align:center; }

.form input{
	font-family: "georgia"; outline: 1;
	background: #f2f2f2; width: 100%;
	border: 0; padding: 15px;
              margin: 0 0 15px;
	box-sizing: border box;
	font-size: 20px; }

.form button
{	font-family: georgia;
	text-transform: uppercase;
	outline: 0; background-color: green;
	width: 108%; border: 0;
     	padding: 15px; color: black;
	font-size: 20px;
	cursor: pointer; }

.form button:hover, .form button:active{
	background: gray; }
.errorbox
{
	
	background: rgba(255,0,0,0.5);
	margin-top: 40px;
	max-width: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.lister{
	font-family: georgia;
	opacity: 1;
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	font-size: 14px;
}